footer{
    background-color: #F8F9FA;
    padding: 70px 0;
    .footer_div{
        h4{
            font-size: 16px;
            color: #000;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 0.5rem;
        }
        .footer_lists{
            li{
                color: rgba(0, 0, 0, 0.5);
                margin-bottom: 10px;
                transition: .3s linear;
                &:hover{
                    color: black;
                }
            }
        }





    }
    .icons{
        display: flex;
        gap: 5px;
        li{
            @extend %center;
            width: 30px;
    height: 30px;
            padding: 7px 7px;
            border-radius: 50%;
            background-color: #00C4A8;
            transition: .3s linear;
            &:hover{
                background-color: #49f8dd;
            }

        }
    }
    .fa-heart{
        color: red;
    }
} 
